{% extends "layout.html" %}
{% block title %}
   Оплата та доставка
{% endblock %}
{% block navbar %}
<a class="nav-item nav-link " href="{{ url_for('basket') }}">корзина</a>
<a class="nav-item nav-link" href="{{ url_for('about') }}">про нас</a>
<a class="nav-item nav-link" href="{{ url_for('blog') }}">блог</a>
<a class="nav-item nav-link" href="{{ url_for('reviews') }}">відгуки</a>
<a class="nav-item nav-link" href="{{ url_for('contacts') }}">контакти</a>
<a class="nav-item nav-link active" href="{{ url_for('delivery') }}">оплата та доставка</a>
{% endblock %}
{% block main %}
<div class="p-2 bd-highlight">
    <a class="nav-item nav-link" href="{{ url_for('top_diсk') }}">топ хуї</a>
</div>
<div class="p-2 bd-highlight">
    <a class="nav-item nav-link" href="{{ url_for('red_diсk') }}">червоні хуї</a>
</div>
<div class="p-2 bd-highlight">
    <a class="nav-item nav-link" href="{{ url_for('blak_diсk') }}">чорні хуї</a>
</div>
{% endblock %}